* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;

}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;

}

.container .tenor-gif-embed {
    max-width: 300px;

}

.text {
    display: flex;
    gap: 30px;
    
    
}
.text a {
    text-decoration: none;
    color: black;
    background: white;
    padding: 10px 50px;
    border-radius: 15px;
    box-shadow: 3px 5px 10px black;
}